<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"

	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd

           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.beauty.core.util.ApplicationContextUtil"></bean>

	<bean id="placeholderConfig"

		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">

			<value>classpath:hibernate.properties</value>

		</property>

	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">

		<property name="jdbcUrl" value="${hibernate.connection.url}" />

		<property name="driverClass" value="${hibernate.connection.driver_class}" />

		<property name="user" value="${hibernate.connection.username}" />

		<property name="password" value="${hibernate.connection.password}" />

		<property name="acquireIncrement" value="${c3p0.acquireIncrement}" />

		<property name="initialPoolSize" value="${c3p0.initialPoolSize}" />

		<property name="minPoolSize" value="${c3p0.minPoolSize}" />

		<property name="maxPoolSize" value="${c3p0.maxPoolSize}" />

		<property name="maxStatements" value="${c3p0.maxStatements}" />

		<property name="numHelperThreads" value="${c3p0.numHelperThreads}" />

		<property name="maxIdleTime" value="${c3p0.maxIdleTime}" />

	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingLocations">
			<list>
				<value>classpath*:hbm/*/*.hbm.xml</value>
			</list>
		</property>
		<!-- <property name="annotatedClasses"> <list> <value>com.kunsy.bean.User</value> 
			</list> </property> -->
		<property name="hibernateProperties">

			<props>

				<prop key="hibernate.dialect">${hibernate.dialect}</prop>

				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>

				<prop key="hibernate.generate_statistics">true</prop>

				<prop key="hibernate.connection.release_mode">auto</prop>

				<prop key="hibernate.autoReconnect">true</prop>

				<prop key="hibernate.use_sql_comments">false</prop>

				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>

				<prop key="hibernate.hbm2ddl.auto">update</prop>

				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>

			</props>
		</property>
	</bean>

	<bean id="transactionManager"

		class="org.springframework.orm.hibernate4.HibernateTransactionManager">

		<property name="sessionFactory">

			<ref local="sessionFactory"/>

		</property>

	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="merge*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="put*" propagation="REQUIRED" />
			<tx:method name="use*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="count*" propagation="REQUIRED" read-only="true" />
			<tx:method name="find*" propagation="REQUIRED" read-only="true" />
			<tx:method name="list*" propagation="REQUIRED" read-only="true" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config expose-proxy="true">
		<aop:pointcut id="txPointcut" expression="execution(* com.beauty..*.service.impl.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>

</beans>