@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:Arial, sans-serif;}

ul, ol { list-style:none;}
img { border:0;}

body { margin:0; text-align:center; background:#FFF url(../default/images/login_bg.png) repeat-x top;}

#login { background:#DBEAF9;display:block;width:950px;height:460px; margin-top:80px;margin-left:auto;margin-right:auto; font-size:12px;}
#login_header { display:block; padding-top:10px; height:80px;}
.navList { display:block; overflow:hidden; height:20px; padding-left:28px;}
.navList ul { float:left; display:block; overflow:hidden;}
.navList li { float:left; display:block; margin-left:-1px; padding:0 10px; background:url(../default/images/login_list.png) no-repeat 0 5px;}
.navList a { display:block; white-space:nowrap; line-height:21px; color:#000; text-decoration:none;}
.navList a:hover { text-decoration:underline;}

#login_content { display:block; position:relative;height:330px;}
.loginForm {float:left;display:inline;width:240px; position:relative; padding-left:20px;padding-top:50px;folat:left;}
.loginForm p { margin:10px 0;}
.loginForm label { float:left; width:70px; padding:0 0 0 10px; line-height:25px; color:#4c4c4c; font-size:14px;}
.loginForm input { padding:3px 2px; border-style:solid; border-width:1px; border-color:#80a5c4;}
.loginForm .code { float:left; margin-right:5px;}
.login_bar { padding-left:70px;}
.login_bar .sub { display:block; width:75px; height:30px; border:none; background:url(../default/images/login_sub.png) no-repeat; cursor:pointer;}

#login_footer {bottom :0px;display:block; margin-bottom:20px; padding:10px; border-top:solid 1px #AABCCF; color:#666; text-align:center;}
